[Desktop Entry]
Name=Mound Data Manager
Comment=Manage your application data
Icon=mound-data-manager
Type=Application
Terminal=false
Exec=mound-data-manager
StartupNotify=true
Categories=Utility;GTK;
